:root {
  --main-font: 'Inter-Variable', Inter;
  --accent-font: 'PressStart2P', sans-serif;
  --main-font-size: 18px;
  --wdth-main: 400;
  --wdth-heading: 700;
  --desktop-width: clamp(375px, 100%, 700px);
  --mobile-width: 100%;
}
